.main-content {
  /*margin: 0 auto;
  width: 25%;*/
  max-width: 300px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
  /*position: static;*/
  padding-top: 80px;
/*
  height: 100%;
  width: 100%;
  text-align: center;
  top: 10%;
  position: absolute;*/
}

label,
  input {
      display: block;
      margin-bottom: 5px;
  }
  label {
    font-size: 12px;
    text-transform: uppercase;
    color: #B0BEC5;
    margin-bottom: 10px;
  }
  input {
      width: 100%;
      padding: 10px;
      outline: 0;
      border: 2px solid #B0BEC5;
  }
  input.invalid {
      border-color: #DD2C00;
  }

  .shake {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }

  @keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

[id*='notify'] {
  margin-top: 5px;
  padding: 10px;
  font-size: 12px;
  width: 100%;
  color: #fff;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
}
[id*='notify'].error {
  background-color: #DD2C00;
}